<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qrfy.xyz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel='icon' type="image/png" href="{{ url_for('static', filename='../static/images/qrcodeicon.png') }}">
</head>

<body>
    <div class="content">
        <div class='title'>
            <h2>qrfy</h2>
            <img id='logoid' src="{{ url_for('static', filename='../static/images/qrcodeicon.png') }}">
        </div> <br>
    <form method="POST">
            <label>insert your link to qrfy</label> <br>
            <label>(youtube, imgur, etc...)</label> <br> <br>
            <input size='50%' name="the_url"> <br> <br>
            <input type="submit" value='qrfy'>
    </form>
        <!----
        <label class='link-label'>
            <h3 style="display:inline-block;">link</h3>
            <p style="display: inline-block;">(youtube, imgur, etc...)</p>
        </label>
        <br>
        <input name='the_url' method='POST' type="url" class="link-url">
        <br><br>
        <button type="submit" formmethod="post">qrfy</button> -->
    </div>
    
</body>
</html>